<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <title>Chris' Den</title>
        <center>Here are some ways you can contact me!</center>
        <link rel="stylesheet" href="css/style.css">
</head>




<a href="/index">Home</a>
<a href="/info">About Me</a>
<a href="/contact">Contact Us</a>
<a href="/resume">My Resume</a>

<body>

<div id="eMail">

</div>

<div id="phone">

</div>

<div id>





</body>

<footer>

</footer>