<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <title>Chris' Den</title>
        <center>Hi, My name is christopher Phelps, And I am for hire!</center>
        <link rel="stylesheet" href="css/style.css">
</head>

<div id="Links">
    <a href="/index">Home</a>
    <a href="/info">About Me</a>
    <a href="/contact">Contact Us</a>
    <a href="/resume">My Resume</a>
</div>

<body>
    
    <div id ="Corner.Photo">
        <a href="/public/img" ref="">
    </div>

    <div id="Bumble.Bits">
        Sample Text
    </div>

    <div id="bumble.Bits2">
        Bample Bext
    </div>

</body>

<footer>

</footer>