<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <title>Chris' Den</title>
        <center>Here is some information you may want to know about me!</center>
        <link rel="stylesheet" href="css/style.css">
</head>

<a href="/index">Home</a>
<a href="/info">About Me</a>
<a href="/contact">Contact Us</a>
<a href="/resume">My Resume</a>

<body>

<div id="general.Info">
Benid
</div>

<div id="pro.Info">
:D
</div>

<div id="things.Ive.done">
3389
</div>

<div id="review.Section">
Yes
</div>

</body>

<footer>

</footer>