<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <title>Chris' Den</title>
        <center>You can download my resume here!</center>
        <link rel="stylesheet" href="css/style.css">
</head>

<a href="/index">Home</a>
<a href="/info">About Me</a>
<a href="/contact">Contact Us</a>
<a href="/resume">My Resume</a>

<body>
Put a PDF of the reume here
</body>

<footer>

</footer>